<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Inventory</title>
</head>
<body>
<h1>All Inventory</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Center ID</th>
        <th>Blood Type</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="inventory : ${inventoryList}">
        <td th:text="${inventory.id}"></td>
        <td th:text="${inventory.centerId}"></td>
        <td th:text="${inventory.bloodType}"></td>
        <td th:text="${inventory.quantity}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>